body, html
{
    height: 98% !important;
}
#map
{
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.leaflet-container {
    background: #000;
}
.leaflet-div-icon
{
    background-color: transparent;
    border: none;
    font-family: "menomonia";
    font-size: 16px;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    color: white;
    text-align: center;
    cursor: -webkit-grab;
}
.legend, .leaflet-control-layers-selector
{
    vertical-align: middle;
}
