tr.Active
{
    background-color: #8BE87E;
}

tr.Preparation
{
    background-color: #D3FF82
}

tr.Warmup
{
    background-color: #FCFF92;
}

td.event-name
{
    background-image: url('../Content/Images/event_star.png');
    padding-left: 25px;
    background-repeat: no-repeat;
}

td.skill
{
    background-image: url('../Content/Images/skill_point.png');
}

td.group-event
{
    background-image: url('../Content/Images/event_boss.png');
}


